/* div {
    color:red;
}
.div{
    background: black;
}
#test{
    border: 1px solid green;
    width: 80px;
    height: 3em;  
}
div span {
    color: rgb(172, 172, 82);
}
.class1 .class2 {
    background-color: pink;
    width: 50px;
    height: 4rem;
}
.class3>.class4 {
    color:blue;
}
.parent1 + .parent2 {
    font-size: 33px;
}
.fontx22 {
    font-size: 30px;}

.div1 {
    text-decoration:underline;
    color: green;
}
.div2 {
    color: grey;
} */
/* .div1.div2 {
    color: red;
} */
/* .divbox {
    height: 100px;
    width: 150px;
    background: black;
}
.divbox:hover {
    background: grey;
    height: 300px;
    width: 450px;
} */
a:active {
    font-size: 40px;
    transition: all 0.3s ease;
}
